

div#forget_account {
    text-align: center;
    margin-top: .3em;
    line-height: 1.5em;
}

a.btn-getAccount {
    font-size: 100%;
    text-decoration: none;
    color: red;
    transition: 0.5s;
}
input.form-file {
    position: absolute;
    left: 4em;
    top: -.3em;
    border: none;
    border-bottom: 2px solid #00000085;
    font-size: 1.1em;
}
a.btn-getAccount:hover {
    color: #6b6565;
}

a.forget-form {
    float: right;
}

div#signup {
    float: left;
}

a.btn-login {
    display: block;
    text-align: center;
    padding: .4em;
    text-decoration: none;
    font-size: 120%;
    margin: 1em;
    color: white;
    background-image: linear-gradient(to right,#e0c6c6,#9d9de8,#bd5d9cb5,#cc6e6e);
    border-radius: 2em;
    transition: 0.5s;
}

a.btn-login:hover {
    color: black;
}

img.logo_thumb {
    width: 100px;
}

.form_group_style input.form-ctr,
.form_group_style select.form-ctr,
.form_group_style textarea.form-ctr{
  display: block;
  height: 25px;
  font-size: 120%;
  width: 100%;
  border: none;
  outline: none;
  z-index: 1;
  margin-top: 20px;
  border-bottom: 3px solid #5a5a65;
  color: #424040;
  transition:0.5s;
  margin-top: 2em;
}
input.form-ctr:focus ,
input.form-ctr:valid,
input.form-ctr:disabled  {
      border-bottom: 3px solid #9e8dff;
      padding: .3em 0em;
}
input.form-ctr:disabled{
    background: #f5f8ff;
}
input.form-ctr:focus +label.label-form,
input.form-ctr:valid +label.label-form,
input.form-ctr:disabled +label.label-form{
    top:-24px;

}

.form_group_style label.label-form {
    display: inline-block;
    font-size: 100%;
    color: #246a9c;
    padding: .1em 0em;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    transition:0.5s;
    pointer-events: none;
}



.form_group_style {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    position: relative;
}
section.form.createUser {
    width: 350px;
    height: 340px;
}
section.form {
    padding: 2em;
    width: 350px;
    height: 300px;
    border-radius: .5em;
    box-shadow: 0.1em 0.1em 0.3em #4f3056c2, -0.1em 0.1em 0.3em #4f3056c2;
    position: relative;
}
section.form.createAdmin {

    width: 420px;
    height:400px;
   
}

section.form.createAdmin:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section.form:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 414px;
    height: 10px;
    border-radius: 5px 5px 0 0;
    background-image: linear-gradient(to right,#e0c6c6,#9d9de8,#bd5d9cb5,#cc6e6e);
}

div.form_container {
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Select*/
.form_group_style select.form-ctr.add
{
 color: white;
 transition: 0.5s;
}
.form_group_style select.form-ctr +label.label-form{
    top:-20px;
}
.form_group_style select.form-ctr.add +label.label-form{
    top: .3em;
    transition: 0.5s;
}
select.form-ctr.add:focus,
select.form-ctr.add:valid{
      color: #424040;
      border-bottom: 3px solid #9e8dff;
}
select.form-ctr.add:focus +label.label-form,
select.form-ctr.add:valid +label.label-form
{
    top:-24px;
  
}
/*text-area form-ctr */
.form_group_style textarea.form-ctr{
    height: 80px;
    resize: none;
     box-sizing: border-box;
     padding: .3em;
}
.form_group_style textarea.form-ctr +label.label-form{
    top: 5px;
    left: 5px;
}

.form_group_style textarea.form-ctr.add +label.label-form{
    top: 0em;
}
.form_group_style textarea.form-ctr.add {
    text-align: left;
    height: 20px;
    transition: 0.5s;
}
.form_group_style textarea.form-ctr.add:focus,
.form_group_style textarea.form-ctr.add:valid{
    height: 80px;
    border-bottom: 3px solid #9e8dff;

}
 .form_group_style textarea.form-ctr.add:focus +label.label-form,
 .form_group_style textarea.form-ctr.add:valid +label.label-form{
     font-size: 110%;
 }
 .form_group_style textarea.form-ctr:focus +label.label-form,
 .form_group_style textarea.form-ctr:valid +label.label-form
{
    top:-24px;
    left: 0px;
    font-size: 14px;

}

